setuptools
pyrogram
asyncio
aiohttp
tgcrypto
requests
pytz
colorama
rich
python-dotenv
beautifulsoup4
lxml
tabulate
wget
youtube_dl
Pillow
humanize
google-api-python-client
oauth2client
google_auth_oauthlib